table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto 0;
}

th {
    height: 40px;
    background-color: #222222;
    color: #F48024;
    border-bottom: 2px solid black;
}

tr:nth-child(even) {
    background-color: #292929;
}

tr:nth-child(odd) {
    background-color: #1F1F1F;
}

td {
    height: 35px;
    text-align: center;
    color: white;
}

.img-btn {
    width: 25px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.pop-up {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000055;
}

.pop-up table {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 30%;
    margin: 0 auto;
}

.editItem {
    background-color: #010101;
}

.editItem select {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-align: center;
    border: none;
    background-color: #010101;
    overflow: hidden;
    font-size: 20px;
}

